.app_box{
    background: white;
    border-top: 10px solid $main-violet;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
}
label{
    font-family: Roboto;
    color: $main-violet-hover;
}

.socket-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background: white;
}

.socket-item{
    width: rem(32px);
    height: rem(32px);
    background: white;
    border: 1px solid $grey;
    border-radius: rem(10px);
    position: relative;
    margin: rem(2px) rem(2px);
}

.socket-circle{
    width: rem(22px);
    height: rem(22px);
    border-radius: 1.1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(rem(-11px), rem(-11px))
}

footer{
    background: #000000;
    color: #dedede;
}

.owner_info{
    color: #dedede;
}

.owner_name, .owner_lastname{
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto;
}

.owner_lastname{
    color: #67bc5c;
}

.owner_website{
    color: #dedede;
    font-family: Roboto;
    &:hover{
        text-decoration: none;
        color: #67bc5c;
    }
}